body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(to right, #f4f4f4, #e0e0e0);
  margin: 0;
  padding: 0;
}

.container {
  width: 210mm;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: left;
  color: #333;
  font-size: 1rem;
  margin-bottom: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
}
h2::before{
  content: "✅";
}

.question {
  margin: 20px 0;
}

#testForm,#testForm2{
  padding-bottom: 0.7rem;
  line-height: 5px;
}

#testform .question{
  margin: 5px 0;
  padding: 0;
}

#testform2 .question{
  margin: 5px 0;
  padding: 0;
}
.ques0,.ques{
  margin: 0;
  padding: 0;
  line-height: 1.2;
  margin-left: 1rem;
  font-size: 13px;
  /* border: 1px solid black; */
}

.question::first-letter{
    text-transform: capitalize;
}

.question h2 {
  font-size: 1.5em;
  color: #555;
  margin-bottom: 10px;
}

.options {
  list-style: none;
  padding: 0;
}

.options li {
  margin: 15px 0;
  font-size: 1.1em;
}

.options input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.btn-sec{
    width: 30rem;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.submit-btn,.print-btn {
  display: block;
  width: 20%;
  padding: 15px;
  background: linear-gradient(to right, #007bff, #0056b3);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  text-align: center;
  transition: background 0.3s ease;
}

.submit-btn:hover,.print-btn:hover {
  background: linear-gradient(to right, #0056b3, #003f7f);
  font-size: 1.3em;
  padding: 10px;
  font-weight: bold;
}

.date {
  text-align: center;
  margin-top: 20px;
  color: #555;
}

@media print {
  .container {
    width: 210mm;
    height: 297mm;
    margin: 6mm 6mm 6mm 6mm;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .submit-btn,.print-btn {
    display: none;
  }
  .date {
    bottom: 0;
    right: 0;
    position: absolute;
  }
}