<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>training courses</title>
</head>
<body>
    <nav class="nav"">
        <ul style="width: 30%; list-style: none; display: flex; justify-content: space-evenly;">
            <li><a href="/about/">about</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/signup">sign up</a></li>
            <li><a href="/update">update</a></li>
        </ul>
    </nav>
    {% block content %} 
    {% endblock %}
</body>
</html>