{% extends 'base.html' %}

{% block content %}
    <h1>This is Course CRUD page</h1>
    <form action="#" method="POST">
        <h2>Add New Course</h2>
        <label for="title">title</label><br>
        <input type="text" name="title"><br>
        <label for="tech">tech</label><br>
        <input type="text" name="tech"><br>
        <label for="duration">duration</label><br>
        <input type="text" name="duration"><br>
        <label for="price">price</label><br>
        <input type="text" name="price"><br><br>
        <button type="submit">Add</button>
    </form>
    <a href="/">
        <button>Home</button>
    </a>
{% endblock %}