<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{url_for('static',filename='admin.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <center>
      <h1>Admin Panel</h1>
    </center>
    <section>
      <div>
        <h1>Students</h1>
        <h3>1500</h3>
      </div>
      <div>
        <h1>Teachers</h1>
        <h3 id="total_teachers">75</h3>
      </div>
      <div>
        <h1>Staff</h1>
        <h3 id="total_staff">55</h3>
      </div>
      <div>
        <h1>Total Members</h1>
        <h3 id="total_members"></h3>
      </div>
    </section>
    <hr />
    <section>
      <div>
        <h1>Total Gross Revenue</h1>
        <h3 id="total_gross_revenue">$1,000,000</h3>
      </div>
      <div>
        <h1>Total Net Revenue</h1>
        <h3 id="total_net_revenue">$750,000</h3>
      </div>
      <div>
        <h1>Total Wages</h1>
        <h3 id="total_wages"></h3>
      </div>
    </section>
    <hr />
    <section class="chart">
      <h1>Month-on-Month Sales</h1>
      <div>
        <canvas id="revenueChart" width="200" height="100"></canvas>
      </div>
    </section>
    <section class="chart2">
      <h1>courses vs no-of-choice</h1>
      <div>
        <canvas id="courses_popularity_chart" width="200" height="100"></canvas>
      </div>
    </section>
    <section class="update_questions">
      <a href="/update">Update</a>
      <form action="">
        <h1>update_questions</h1>
        <label for="question">Question</label><br>
        <input type="text" id="question" /><br>
        <label for="topics">topics</label><br>
        <input type="text" id="topics" /><br>
        <label for="level">level</label><br>
        <select name="" id="">
          <option value="easy">easy</option>
          <option value="medium">medium</option>
          <option value="hard">hard</option>
        </select><br>
        <button type="submit">Submit</button>
      </form>
    </section>
    <script src="{{url_for('static',filename='admin.js')}}"></script>
  </body>
</html>
