<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{url_for('static',filename='admin.css')}}">
     <!-- <link rel="stylesheet" href="../static/admin.css"> -->
  </head>
  <body>
    <h1>Admin Panel</h1>

    <section>
      <div>
        <h1>students</h1>
      </div>
      <div>
        <h1>teachers</h1>
      </div>
      <div>
        <h1>stuffs</h1>
      </div>
    </section>

    <section>
        <div>
            <h1>total Gross revenue</h1>
        </div>
        <div>
            <h1>total Net revenue</h1>
        </div>
        <div>
            <h1>Total Credit Amount</h1>
        </div>
    </section>

    <section>
        <div>
            <h1>Total Visitors</h1>
        </div>
        <div>
            <h1>Total Active users</h1>
        </div>
        <div>
            <h1>Top Courses</h1>
        </div>
        <div>
            <h1>Top teachers</h1>
        </div>
        <div>
            <h1>total jobs posted</h1>
        </div>
        <div>
            <h1>total job aspirants</h1>
        </div>
        <div>
            <h1>total job done</h1>
        </div>
    </section>
  </body>
</html>
