<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{url_for('static',filename='admin.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <center>
      <h1>Admin Panel</h1>
    </center>
    <section>
      <div>
        <h1>Students</h1>
        <h3>1500</h3>
      </div>
      <div>
        <h1>Teachers</h1>
        <h3>75</h3>
      </div>
      <div>
        <h1>Staff</h1>
        <h3>50</h3>
      </div>
    </section>
    <hr />
    <section>
      <div>
        <h1>Total Gross Revenue</h1>
        <h3>$1,000,000</h3>
      </div>
      <div>
        <h1>Total Net Revenue</h1>
        <h3>$750,000</h3>
      </div>
    </section>
    <hr />
    <section class="chart">
      <h1>Month-on-Month Gross Revenue</h1>
      <div>
        <canvas id="revenueChart" width="200" height="100"></canvas>
      </div>
    </section>
    <script src="{{url_for('static',filename='admin.js')}}"></script>
  </body>
</html>
