<link
  rel="stylesheet"
  href="{{ url_for('static', filename='mockTest.css') }}"
/>
<div class="container">
  <h1>Mock Test</h1>
  <form id="testForm">
    {% for index, q in ques %}
    <div class="question">
      <h3>{{index+1}}) {{q['Questions']}}</h3>
      <h5 style="font-weight: normal;">[Q-id: {{q['Q_id']}}, Level: {{q['level']}}, topics: {{q['topics']}}, category:{{q['category']}}]</h5>
      {% endfor %}
    </div>
    <div class="btn-sec">
      <button type="button" onclick="submitTest()" class="submit-btn">
        Submit
      </button>
      <button type="button" onclick="window.print()" class="print-btn">
        Print
      </button>
    </div>
  </form>
  <div id="result"></div>
</div>
<script>
  function submitTest() {
    const correctAnswers = {
      q1: "c",
      q2: "b",
      q3: "a",
    };

    let score = 0;
    const totalQuestions = Object.keys(correctAnswers).length;

    const form = document.getElementById("testForm");
    const formData = new FormData(form);

    for (const [question, answer] of formData.entries()) {
      if (answer === correctAnswers[question]) {
        score++;
      }
    }

    const result = document.getElementById("result");
    result.innerHTML = `You scored ${score} out of ${totalQuestions}`;
  }
</script>
