<link
  rel="stylesheet"
  href="{{ url_for('static', filename='mockTest.css') }}"
/>
<section class="container">
  <section id="testForm">
    {% for index, q in ques %}
    <p>
      <h2><u>{{q['topic']}}</u></h2>
    </p>
    <div class="question">
      <p class="ques0">
        <span>({{index+1}}) {{q['Ques-Set'][0][1]}}</span>&emsp;
        <span style="font-size: 12px"> [{{q['Ques-Set'][0][2]}},{{q['Ques-Set'][0][3]}}] </span>
      </p>
    </div>
    {% endfor %}
  </section>`
  <hr />
  <div class="btn-sec">
    <button type="button" onclick="submitTest()" class="submit-btn">
      Submit
    </button>
    <button type="button" onclick="window.print()" class="print-btn">
      Print
    </button>
  </div>
</section>
<script>
  function submitTest() {
    const correctAnswers = {
      q1: "c",
      q2: "b",
      q3: "a",
    };

    let score = 0;
    const totalQuestions = Object.keys(correctAnswers).length;

    const form = document.getElementById("testForm");
    const formData = new FormData(form);

    for (const [question, answer] of formData.entries()) {
      if (answer === correctAnswers[question]) {
        score++;
      }
    }

    const result = document.getElementById("result");
    result.innerHTML = `You scored ${score} out of ${totalQuestions}`;
  }
</script>
