<nav class="nav">
  <div style="width: 30%" class="brand_name">
    <h1>Code Count</h1>
  </div>
  <div
    style="
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <form action="#" method="get">
      <input
        type="text"
        name="search"
        placeholder="Search..."
        style="
          width: 25rem;
          height: 1.5rem;
          border-radius: 10px;
          border: 1px solid grey;
          padding-left: 10px;
        "
      />
      <button
        type="submit"
        style="
          height: 1.5rem;
          width: 6rem;
          border-radius: 6px;
          border: 1px solid orangered;
          background-color: transparent;
          color: orangered;
          font-weight: bold;
          font-family: sans-serif;
          font-size: 1.2rem;
        "
      >
        Search
      </button>
    </form>
  </div>
  <div style="width: 30%" class="linked_list">
    <ul
      style="
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        text-transform: capitalize;
      "
    >
      <li><a href="/about">about</a></li>
      <li><a href="/contact">contact</a></li>
      <li><a href="/signup">signUp</a></li>
      <li><a href="/dashboard">dashboard</a></li>
      <li><a href="/mockTest">mock test</a></li>
      <li><a href="/products">products</a></li>
    </ul>
  </div>
</nav>
