<link rel="stylesheet" href="{{url_for('static',filename='nav.css')}}" />
<nav class="nav">
  <div class="brand_name">
    <h1 class="brand_title">Code Count</h1>
  </div>
  <div class="search_form">
    <form action="#" method="get" class="search_form_inner"></form>
      <input
        type="text"
        name="search"
        placeholder="Search..."
        class="search_input"
      />
      <button type="submit" class="search_button">
        Search
      </button>
    </form>
  </div>
  <div class="linked_list">
    <ul class="nav_links">
      <li class="nav_item"><a href="/about" class="nav_link">About</a></li>
      <li class="nav_item"><a href="/contact" class="nav_link">Contact</a></li>
      <li class="nav_item"><a href="/signup" class="nav_link">Sign-Up</a></li>
      <li class="nav_item"><a href="/dashboard" class="nav_link">Dashboard</a></li>
      <li class="nav_item"><a href="/mockTest" class="nav_link">Mock-Test</a></li>
      <li class="nav_item"><a href="/products" class="nav_link">Products</a></li>
    </ul>
  </div>
</nav>
