{% extends 'base.html' %} {% block content %}
<h1 class="course_title">{{course.title}}</h1>

{% for module in modules %}
<div class="container">
  <hr>
  <a href="/course_details/{{course.id}}/{{module[1]}}">
    <h3>{{module[0]}}.&emsp;{{module[1]}}</h3>
  </a>
  <hr>
    <div class="sub_container">
      {% for topic in topics %}
        {% if topic[0] == module[1] %}
          <h5>&emsp;{{topic[1]}}.&emsp;{{topic[2]}}</h5>
        {% endif %}
      {% endfor %}
    </div>
</div>
{% endfor %}
<!-- {% include 'test.html' %} -->
<a href="/">
  <button>Home</button>
</a>

<script>
</script>
{% endblock %}
